<launch>
  <arg name="topic" default="/mobile_base_controller/odom"/>
  <arg name="bagname" default="bagfile.bag"/>

  <param name="topic" value="$(arg topic)"/>
  <param name="bagname" value="$(arg bagname)"/>

  <group ns="my_tiago_controller">
      <node pkg="my_tiago_controller" type="logger" name="$(anon logger)" output="screen" />
  </group>
</launch>